<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Report" value="eduardo.sni.ferreira@gmail.com"/>
		<add key="From" value="edwss@h4n3h.com"/>
		<add key="STMP-Username" value="edwss@h4n3h.com"/>
		<add key="STMP-Password" value="Edwss@1309"/>
		<add key="STMP-Address" value="h4n3h.com"/>
		<add key="STMP-Port" value="587"/>
		<add key="API-Token" value="geE4coptkuqJT2AAB8t7Jx"/>
	</appSettings>
</configuration>