<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Report" value=""/>
		<add key="From" value=""/>
		<add key="STMP-Username" value=""/>
		<add key="STMP-Password" value=""/>
		<add key="STMP-Address" value=""/>
		<add key="STMP-Port" value="587"/>
		<add key="API-Token" value="geE4coptkuqJT2AAB8t7Jx"/>
	</appSettings>
</configuration>